.post {
	background-color: white;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 30px;
}

.post__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 8px;
}

.post__header .user {
	display: flex;
	align-items: center;
}

.post__header .user__thumb {
	height: 40px;
	margin-right: 8px;
	width: 40px;
}

.post__header .user__name {
	color: black;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
}

.post__context {
	font-size: 1.4rem;
}

.post__figure {
	overflow: hidden;
	margin: 0;
	height: auto;
	width: 100%;
}

.post__figure img {
	width: 100%;
}

.post__controls {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0;
}

.post__control {
	font-size: 2.4rem;
	margin: 0 8px;
}

.post__control .fa.fa-heart {
	color: #e74c3c;
}

.post__control:last-of-type {
	justify-self: flex-end;
	margin-left: auto;
}

.post__status {
	display: flex;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.05);
}

.post__status .user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.post__status .user span {
	font-size: 1.2rem;
}

.post__status .user__thumb {
	height: 30px;
	width: 30px;
	margin-right: 8px;
}
